.card-detail-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 12em - 2px);
  background: linear-gradient(to top right, #880505, #bf5b5b, #880505);
  color: white;

  .centered-profile {
    margin: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 500px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #880505;

    .card-detail-pic {
      width: 350px;
      height: 220px;
      padding: 30px;

      img {
        width: 50px;
        height: 100%;
        border-radius: 10px;
      }
    }

    .card-detail-username {
      font-size: 3em;
    }
  }
  .card-detail-long-text {
    width: 90%;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
  }
}
