.profile-card-wrapper {
  display: grid;
  width: 100%;
  .profile-card {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
  }

  .profile-card img {
    height: 50%;
  }
}
