.form-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .form {
    padding: 15px;
    display: flex;
    flex-direction: column;

    .inputs-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;

      textarea {
        border: 2px solid;
        background-color: transparent;
        font-size: 18px;
        height: 100px;
        width: 500px;
        padding: 10px;
        margin-top: 25px;
      }

      input {
        font-size: 18px;
        padding: 10px;
        width: 500px;
        margin: 5px;
        border: none;
        border-bottom: 2px solid;

        &:focus {
          border-bottom: 2px solid;
          text-decoration: none;
          outline: none;
        }
      }
    }
    .dropzone-wrapper {
      width: 300px;
      padding: 5px;
      margin: 15px;
    }

    button {
      width: 100px;
      height: 35px;
      background-color: #880505;
      outline: none;
      margin-top: 20px;
      color: white;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: #bf5b5b;
      }
    }
  }
  .card-page {
    display: flex;
    flex-direction: column;

    .profile-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;

      .profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        border: 1px solid black;
      }

      img {
        width: 125px;
        height: 125px;
      }
    }
  }
}
